includeConfig 'nf_config/porechop.config'
includeConfig 'nf_config/busco_lr.config'
includeConfig 'nf_config/medaka.config'
includeConfig 'nf_config/busco_sr.config'
includeConfig 'nf_config/barrnap.config'
includeConfig 'nf_config/prokka.config'

params {
    THREADS = 2
    BARCODE_THRESHOLD = 85
    LINEAGE = 'bacteria'
    KINGDOM = 'Bacteria'
    MODEL = 'r1041_e82_400bps_sup_v5.0.0'
}

docker.enabled = true

report {
  overwrite = true
  enabled = true
  file = "$PWD/report.html"
}

timeline {
  overwrite = true
  enabled = true
  file = "$PWD/timeline.html"
}

