includeConfig 'nf_config/porechop.config'
includeConfig 'nf_config/busco_lr.config'
includeConfig 'nf_config/medaka.config'
includeConfig 'nf_config/busco_sr.config'
includeConfig 'nf_config/barrnap.config'
includeConfig 'nf_config/prokka.config'


report {
  overwrite = true
  enabled = true
  file = "$PWD/report.html"
}

timeline {
  overwrite = true
  enabled = true
  file = "$PWD/timeline.html"
}

