params {
    // Input parameters 
 THREADS    = 4 // or any other appropriate value
 FILTER     = 800
 TRIM5      = 100
 TRIM3      = 60
 LENGTH     = 500
 HEADCROP    = 100
 BARCODE_THRESHOLD  = 85
 KINGDOM    = "Bacteria"  
 CACHEDIR   = "$PWD/cache"
 MODEL      = "r941_min_fast_g507"

}

report {
  overwrite = true
  enabled = true
  file = "$PWD/report.html"
}

timeline {
  overwrite = true
  enabled = true
  file = "$PWD/timeline.html"
}

