process {
    withName: 'barrnap' {
        container = 'annotation:latest'
        env.KINGDOM = 'Bacteria'  // Definimos KINGDOM como variable de entorno
        cpus = 4                 // Ajustamos el número de hilos correctamente
        publishDir = [
            path: './results/barrnap',
            mode: 'copy'
        ]
    }
}
