process {
    withName: 'prokka' {
        container = 'annotation:latest' // Define el contenedor si lo necesitas
        env.KINGDOM = 'Bacteria'        // Usa variables de entorno para KINGDOM
        cpus = 4                        // Usa el atributo `cpus` en lugar de THREADS
        publishDir = [
            path: './results/prokka',
            mode: 'copy'
        ]
    }
}
